*.pyc
*.DS_Store
*~
*/log/*
*/*/log/*
*/*/*/log/*
dist/*/*
dist
dist/
ioflo.egg-info
ioflo.egg-info/
ioflo.egg-info/*
ioflo.egg-info/*.*
ioflo.egg-info*
ioflo.egg-info/PKG-INFO
ioflo.eggs/
.eggs/
.hgignore
.hgtags
.pytest_cache/
.idea/
